body{
    background-image: url("app/Assets/grayscale-photography-of-human-skull-1270184.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    background-color: black;
    position: relative;
}