{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> WELCOME TO NEWS APP </title>
        {% endif %}
</head>
<body>
    <h1> {{message}} </h1>
    {% block content%}
    <div class="container">
        
            <h1>FOR THE LATEST AND NEWEST NEWS ARTICLES</h1>
            <hr>
            {{ macro.displaySourceList(sources)}}
    </div>
    {%endblock%}
</body>
</html>